Repository vehicle-lang/vehicle, pull requests merged in 2023-02, with the labels that each got.

#404 Remove provenance from NormExpr data type
  vehicle/src/Vehicle/Compile/Descope.hs
  vehicle/src/Vehicle/Compile/Error.hs
  vehicle/src/Vehicle/Compile/Error/Message.hs
  vehicle/src/Vehicle/Compile/ExpandResources.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Dataset/IDX.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Network.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Parameter.hs
  vehicle/src/Vehicle/Compile/Normalise/NBE.hs
  vehicle/src/Vehicle/Compile/Normalise/Quote.hs
  vehicle/src/Vehicle/Compile/Print.hs
  vehicle/src/Vehicle/Compile/Queries.hs
  vehicle/src/Vehicle/Compile/Queries/IfElimination.hs
  vehicle/src/Vehicle/Compile/Queries/LNF.hs
  vehicle/src/Vehicle/Compile/Queries/LinearSatisfactionProblem.hs
  vehicle/src/Vehicle/Compile/Queries/NetworkElimination.hs
  vehicle/src/Vehicle/Compile/Type.hs
  vehicle/src/Vehicle/Compile/Type/Constraint.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/Core.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/LinearitySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/PolaritySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/TypeClassDefaults.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/TypeClassSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/UnificationSolver.hs
  vehicle/src/Vehicle/Compile/Type/Generalise.hs
  vehicle/src/Vehicle/Compile/Type/Irrelevance.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Substitution.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Variable.hs
  vehicle/src/Vehicle/Compile/Type/Resource.hs
  vehicle/src/Vehicle/Expr/Normalised.hs
  vehicle/tests/golden/error/linearity/quadraticFunOutput/Marabou.err.golden
  vehicle/tests/golden/error/linearity/quadraticFunOutput/Marabou.out.golden
  vehicle/tests/golden/error/linearity/quadraticInputOutput/Marabou.err.golden
  vehicle/tests/unit/Vehicle/Test/Unit/Compile/Normalisation.hs
Labels: refactoring, compiler:normalisation

#405 Make `Expr` and `NormExpr` generic in the type of builtins stored
  vehicle-syntax/src/Vehicle/Syntax/AST/Builtin.hs
  vehicle-syntax/src/Vehicle/Syntax/AST/Expr.hs
  vehicle-syntax/src/Vehicle/Syntax/AST/Instances/NoThunks.hs
  vehicle-syntax/src/Vehicle/Syntax/BNFC/Delaborate/External.hs
  vehicle-syntax/src/Vehicle/Syntax/BNFC/Delaborate/Internal.hs
  vehicle-syntax/src/Vehicle/Syntax/BNFC/Elaborate/External.hs
  vehicle-syntax/src/Vehicle/Syntax/Sugar.hs
  vehicle/src/Vehicle/Backend/Agda/Compile.hs
  vehicle/src/Vehicle/Backend/LossFunction/Compile.hs
  vehicle/src/Vehicle/Compile/Descope.hs
  vehicle/src/Vehicle/Compile/Error.hs
  vehicle/src/Vehicle/Compile/Error/Message.hs
  vehicle/src/Vehicle/Compile/ExpandResources.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Dataset.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Dataset/IDX.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Network.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Parameter.hs
  vehicle/src/Vehicle/Compile/Normalise.hs
  vehicle/src/Vehicle/Compile/Normalise/Core.hs
  vehicle/src/Vehicle/Compile/Normalise/NBE.hs
  vehicle/src/Vehicle/Compile/Normalise/Quote.hs
  vehicle/src/Vehicle/Compile/Prelude.hs
  vehicle/src/Vehicle/Compile/Prelude/Utils.hs
  vehicle/src/Vehicle/Compile/Print.hs
  vehicle/src/Vehicle/Compile/Queries.hs
  vehicle/src/Vehicle/Compile/Queries/IfElimination.hs
  vehicle/src/Vehicle/Compile/Queries/LNF.hs
  vehicle/src/Vehicle/Compile/Queries/LinearSatisfactionProblem.hs
  vehicle/src/Vehicle/Compile/Queries/NetworkElimination.hs
  vehicle/src/Vehicle/Compile/Scope.hs
  vehicle/src/Vehicle/Compile/Simplify.hs
  vehicle/src/Vehicle/Compile/Type.hs
  vehicle/src/Vehicle/Compile/Type/Builtin.hs
  vehicle/src/Vehicle/Compile/Type/Constraint.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/Core.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/InstanceBuiltins.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/InstanceSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/LinearitySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/PolaritySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/TypeClassDefaults.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/TypeClassSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/UnificationSolver.hs
  vehicle/src/Vehicle/Compile/Type/Generalise.hs
  vehicle/src/Vehicle/Compile/Type/Irrelevance.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Substitution.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Variable.hs
  vehicle/src/Vehicle/Compile/Type/Monad/Class.hs
  vehicle/src/Vehicle/Compile/Type/Resource.hs
  vehicle/src/Vehicle/Compile/Type/VariableContext.hs
  vehicle/src/Vehicle/Expr/AlphaEquivalence.hs
  vehicle/src/Vehicle/Expr/CoDeBruijn.hs
  vehicle/src/Vehicle/Expr/CoDeBruijn/Conversion.hs
  vehicle/src/Vehicle/Expr/DSL.hs
  vehicle/src/Vehicle/Expr/DeBruijn.hs
  vehicle/src/Vehicle/Expr/Normalised.hs
  vehicle/src/Vehicle/Expr/Patterns.hs
  vehicle/tests/unit/Vehicle/Test/Unit/Compile/DeBruijn.hs
  vehicle/tests/unit/Vehicle/Test/Unit/Compile/Normalisation.hs
Labels: refactoring

#395 Loss translation errors fix
  vehicle/src/Vehicle/Backend/LossFunction/Compile.hs
Labels: backend:LossFunctions, python

#406 Change Python loss function translation to use exec
  vehicle-python/tests/data/test_quantifier_all.vcl
  vehicle-python/tests/data/test_quantifier_any.vcl
  vehicle-python/tests/test_LossFunctionTranslation.py
  vehicle-python/vehicle/__init__.py
  vehicle-python/vehicle/command_line.py
  vehicle/src/Vehicle/Backend/LossFunction/Compile.hs
  vehicle/src/Vehicle/Backend/LossFunction/Logics.hs
  vehicle/tests/golden/compile/andGate/andGate.loss.json.golden
  vehicle/tests/golden/compile/bounded/bounded.loss.json.golden
  vehicle/tests/golden/compile/logic-and-comparisons/logic-and-comparisons-DL2.loss.json.golden
  vehicle/tests/golden/compile/logic-and-comparisons/logic-and-comparisons-Godel.loss.json.golden
  vehicle/tests/golden/compile/logic-and-comparisons/logic-and-comparisons-Lukasiewicz.loss.json.golden
  vehicle/tests/golden/compile/logic-and-comparisons/logic-and-comparisons-Product.loss.json.golden
  vehicle/tests/golden/compile/logic-and-comparisons/logic-and-comparisons-Yager.loss.json.golden
  vehicle/tests/golden/compile/monotonicity/monotonicity.loss.json.golden
  vehicle/tests/golden/compile/reachability/reachability.loss.json.golden
  vehicle/tests/golden/compile/simple-arithmetic/simple-arithmetic.loss.json.golden
  vehicle/tests/golden/compile/simple-constantInput/simple-constantInput.loss.json.golden
  vehicle/tests/golden/compile/simple-fourierMotzkin/simple-fourierMotzkin.loss.json.golden
  vehicle/tests/golden/compile/simple-gaussianElim/simple-gaussianElim.loss.json.golden
  vehicle/tests/golden/compile/simple-pruneDecls/simple-pruneDecls.loss.json.golden
  vehicle/tests/golden/compile/simple-quantifier/simple-quantifier.loss.json.golden
  vehicle/tests/golden/compile/simple-triviallyTrue/simple-triviallyTrue.loss.json.golden
Labels: backend:LossFunctions, refactoring

#409 Fix type error introduced by #406
  vehicle-python/vehicle/__init__.py
Labels: bug, backend:LossFunctions

#424 Fix problem with free variables before quantifiers not normalising in queries
  vehicle/src/Vehicle/Backend/LossFunction/Compile.hs
  vehicle/src/Vehicle/Compile/ExpandResources.hs
  vehicle/src/Vehicle/Compile/Normalise/NBE.hs
  vehicle/src/Vehicle/Compile/Prelude.hs
  vehicle/src/Vehicle/Compile/Print.hs
  vehicle/src/Vehicle/Compile/Queries/LinearSatisfactionProblem.hs
  vehicle/src/Vehicle/Compile/Queries/LinearityAndPolarityErrors.hs
  vehicle/src/Vehicle/Compile/Simplify.hs
  vehicle/src/Vehicle/Compile/Type.hs
  vehicle/src/Vehicle/Compile/Type/Subsystem/Standard/Core.hs
Labels: bug, backend:Marabou
