Repository vehicle-lang/vehicle, pull requests merged in 2024-10, with the labels that each got.

#855 Removed variable type parameter from LinearExpr
  vehicle/src/Vehicle/Backend/Queries.hs
  vehicle/src/Vehicle/Backend/Queries/ConstraintSearch.hs
  vehicle/src/Vehicle/Backend/Queries/PostProcessing.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination/Core.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination/EliminateExists.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination/VariableReconstruction.hs
  vehicle/src/Vehicle/Compile/FourierMotzkinElimination.hs
  vehicle/src/Vehicle/Compile/Rational/LinearExpr.hs
  vehicle/src/Vehicle/Data/Assertion.hs
  vehicle/src/Vehicle/Data/Code/LinearExpr.hs
  vehicle/src/Vehicle/Data/QuantifiedVariable.hs
  vehicle/src/Vehicle/Data/Tensor.hs
  vehicle/src/Vehicle/Prelude/Misc.hs
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property1.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property10.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property2.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property3.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property4.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property5.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property6.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property7.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property8.vcl-plan.golden
  vehicle/tests/golden/compile/acasXu/Marabou.queries/property9.vcl-plan.golden
  vehicle/tests/golden/compile/andGate/Marabou.queries/andGateCorrect.vcl-plan.golden
  vehicle/tests/golden/compile/bounded/Marabou.queries/bounded.vcl-plan.golden
  vehicle/tests/golden/compile/increasing/Marabou.queries/increasing.vcl-plan.golden
  vehicle/tests/golden/compile/issue86/Marabou.queries/p3.vcl-plan.golden
  vehicle/tests/golden/compile/monotonicity/Marabou.queries/monotonic.vcl-plan.golden
  vehicle/tests/golden/compile/simple-constantInput/Marabou.queries/spec.vcl-plan.golden
  vehicle/tests/golden/compile/simple-foreach/Marabou.queries/safe.vcl-plan.golden
  vehicle/tests/golden/compile/simple-fourierMotzkin/Marabou.queries/underConstrainedVar1.vcl-plan.golden
  vehicle/tests/golden/compile/simple-fourierMotzkin/Marabou.queries/underConstrainedVar2.vcl-plan.golden
  vehicle/tests/golden/compile/simple-fourierMotzkin/Marabou.queries/underConstrainedVars.vcl-plan.golden
  vehicle/tests/golden/compile/simple-fourierMotzkin/Marabou.queries/unusedVar.vcl-plan.golden
  vehicle/tests/golden/compile/simple-gaussianElim/Marabou.queries/test1.vcl-plan.golden
  vehicle/tests/golden/compile/simple-gaussianElim/Marabou.queries/test2.vcl-plan.golden
  vehicle/tests/golden/compile/simple-if/Marabou.queries/prop1.vcl-plan.golden
  vehicle/tests/golden/compile/simple-if/Marabou.queries/prop2.vcl-plan.golden
  vehicle/tests/golden/compile/simple-if/Marabou.queries/prop3.vcl-plan.golden
  vehicle/tests/golden/compile/windController/Marabou.queries/safe.vcl-plan.golden
Labels: backend:verifiers, refactoring

#856 Remove closure type parameter from Value
  vehicle/src/Vehicle/Backend/LossFunction/Core.hs
  vehicle/src/Vehicle/Backend/LossFunction/Domain.hs
  vehicle/src/Vehicle/Backend/LossFunction/JSON.hs
  vehicle/src/Vehicle/Backend/LossFunction/LogicCompilation.hs
  vehicle/src/Vehicle/Backend/LossFunction/LossCompilation.hs
  vehicle/src/Vehicle/Backend/LossFunction/TensorCompilation.hs
  vehicle/src/Vehicle/Backend/LossFunction/ZeroTensorLifting.hs
  vehicle/src/Vehicle/Backend/Queries.hs
  vehicle/src/Vehicle/Backend/Queries/Unblock.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination.hs
  vehicle/src/Vehicle/Backend/Queries/UserVariableElimination/Core.hs
  vehicle/src/Vehicle/Compile/Arity.hs
  vehicle/src/Vehicle/Compile/Boolean/LiftIf.hs
  vehicle/src/Vehicle/Compile/Boolean/LowerNot.hs
  vehicle/src/Vehicle/Compile/Context/Bound.hs
  vehicle/src/Vehicle/Compile/Context/Free.hs
  vehicle/src/Vehicle/Compile/Context/Free/Class.hs
  vehicle/src/Vehicle/Compile/Context/Free/Core.hs
  vehicle/src/Vehicle/Compile/Descope.hs
  vehicle/src/Vehicle/Compile/Error.hs
  vehicle/src/Vehicle/Compile/EtaConversion.hs
  vehicle/src/Vehicle/Compile/ExpandResources.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Core.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Dataset.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Dataset/IDX.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Network.hs
  vehicle/src/Vehicle/Compile/ExpandResources/Parameter.hs
  vehicle/src/Vehicle/Compile/Normalise/Builtin.hs
  vehicle/src/Vehicle/Compile/Normalise/NBE.hs
  vehicle/src/Vehicle/Compile/Normalise/Quote.hs
  vehicle/src/Vehicle/Compile/Print.hs
  vehicle/src/Vehicle/Compile/Print/Error.hs
  vehicle/src/Vehicle/Compile/Rational/LinearExpr.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/Core.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/IndexSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/InstanceDefaultSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/InstanceDefaults.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/InstanceSolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/LinearitySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/PolaritySolver.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/StandardAnnotationRestrictions.hs
  vehicle/src/Vehicle/Compile/Type/Constraint/UnificationSolver.hs
  vehicle/src/Vehicle/Compile/Type/Core.hs
  vehicle/src/Vehicle/Compile/Type/Force.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Substitution.hs
  vehicle/src/Vehicle/Compile/Type/Meta/Variable.hs
  vehicle/src/Vehicle/Compile/Type/Monad/Class.hs
  vehicle/src/Vehicle/Compile/Variable.hs
  vehicle/src/Vehicle/Data/Builtin/Linearity.hs
  vehicle/src/Vehicle/Data/Builtin/Polarity.hs
  vehicle/src/Vehicle/Data/Code/Value.hs
  vehicle/src/Vehicle/Data/Hashing.hs
  vehicle/src/Vehicle/Data/QuantifiedVariable.hs
  vehicle/src/Vehicle/Prelude/Warning.hs
  vehicle/tests/unit/Vehicle/Test/Unit/Compile/Normalisation.hs
Labels: refactoring

#857 Fix broken unit tests from previous PR
  vehicle/tests/unit/Vehicle/Test/Unit/Compile/Normalisation.hs
Labels: bug, test-suite

#854 Fix license information
  .github/CODEOWNERS
  CITATION.cff
  LICENSE
Labels: documentation
